.top10-top {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
}

.top10-component__container {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}

.top10--image {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border: 0.25rem solid var(--color-blog);
    border-radius: 16px;
    display: block;
}

.videogame-info__container header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--color-blue);
}