.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius:10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn--default {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    color: var(--color-text);
    font-size: 15px;
    cursor: pointer;
}

.btn--small {
    padding: 4px 3px;
    font-size: 12px;
}

.btn--medium {
    padding: 8px 5px;
    font-size: 15px;
}

.btn--large {
    padding: 9px 16px;
    font-size: 18px;
}


