.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius:10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn--default {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    color: var(--color-text);
    font-size: 1rem;
    cursor: pointer;
    padding-left: 0.25rem;
}

.btn--navbar {
    color: #fff;
    background: var(--color-blue);
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn--navbar:hover {
    background-color: var(--color-text);
    transition: 0.7s;
}

.btn--list {
    color: var(--color-headline);
    border: none;
    background: var(--color-text);
    margin: 1rem auto 0 auto;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn--tours {
    display: block;
    width: 150px;
    margin: 1rem auto 0 auto;
    color: var(--color-headline);
    background: var(--color-blue);
    border: 1px solid var(--color-bg);
    border-radius: 1rem;
    position: absolute;
    left: calc(50% - 74px);
    bottom:   3%;
}

.btn--small {
    padding: 4px 3px;
    font-size: 12px;
}

.btn--medium {
    padding: 8px 5px;
    font-size: 15px;
}

.btn--large {
    padding: 9px 16px;
    font-size: 18px;
}


