.faq-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    background: var(--gradient-bar);
    padding: 10px 30px;
    margin: 30px auto;
    border-radius: 0.25rem;
}

.faq__container {
    width: 90vw;
    border-radius: 5px;
    padding: 2.5rem 2rem;
    max-width: 300px;
    display: grid;
    gap: 1rem 2rem;
}

.faq__container h3 {
    line-height: 1.2;
    font-weight: 500;
}