.navbar-top__container {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 1px 10px var(--color-boxshadow);
    scroll-behavior: smooth;
}

.navbar-content__container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-logo__container {
    margin: 0 30px;
    padding: 5px;
}

.navbar-logo {
    font-family: 'Manrope', sans-serif;
    color: var(--color-blue-darkest);
}

.navbar-links__container {
    display: flex;
    flex-direction: row;
}

.navbar-home__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links__container p,
.navbar-home__container p,
.navbar-menu__container p {
    color: var(--color-blue-dark);
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    margin-left: 20px;
}

.btn--navbar {
    background: transparent;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn--navbar:hover {
    background-color: var(--color-blue-medium);
    transition: 0.7s;
    border-radius: 0;
}

.navbar-menu-top__container {
    display: none;
    position: relative;
}

.navbar-menu-top__container svg {
    margin-right: 10px;
    cursor: pointer;
}

.navbar-menu__container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-blue-medium);
    padding: 8px;
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 30px;
    margin-top: 5px;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 10px 15px var(--color-boxshadow);
}


.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@media screen and (max-width: 1050px) {

    .navbar-links__container {
        display: none;
    }

    .navbar-menu-top__container {
        display: flex;
    }

}

@media screen and (max-width: 550px) {

    .navbar-sign__container {
        display: none;
    }

    .navbar-menu-links-sign__container {
        display: block;
    }
}
