.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.navbar__links-top {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar__logo-container {
    margin-right: 2rem;
}

.navbar__logo {
    font-family: 'Manrope', sans-serif;
    color: white;
}

.navbar__links-container {
    display: flex;
    flex-direction: row;
}

.navbar__sign-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar__links-container p,
.navbar__sign-container p,
.navbar__menu-container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.navbar__sign-container button,
.navbar__menu-container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.navbar__menu-top {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.navbar__menu-top svg {
    cursor: pointer;
}

.navbar__menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0,0, 0,0.2);
}

.navbar__menu-container p {
    margin: 1rem 0;
}

.navbar__menu-container__links__sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .navbar-top {
        z-index: 10;
        position: relative;
    }

    .navbar__links-container {
        display: none;
    }

    .navbar__menu-top {
        display: flex;
    }

}

@media screen and (max-width: 700px) {
    .navbar-top {
        padding: 2rem 4rem;
        z-index: 9;
        position: relative;
    }
}

@media screen and (max-width: 550px) {
    .navbar-top {
        padding: 2rem;
        z-index: 8;
    }

    .navbar__sign-container {
        display: none;
    }

    .navbar__menu-container {
        top: 20px;
    }

    .navbar__menu-container__links__sign {
        display: block;
    }
}
