.navbar-top__container {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-blue-light);
    box-shadow: 0 1px 10px var(--color-boxshadow);
    scroll-behavior: smooth;
}

.navbar-content__container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-logo__container img {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

.navbar-logo__container h4 {
    color: var(--color-blue-dark);
    font-weight: bolder;
    font-size: 18px;
    margin-left: 5px;
}

.navbar-logo {
    font-family: 'Manrope', sans-serif;
    color: var(--color-blue-darkest);
}

.navbar-links__container {
    padding: 0 100px 0 0;
    display: none;
    flex-direction: row;
}

.navbar-home__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links__container p,
.navbar-home__container p,
.navbar-menu__container p {
    color: var(--color-blue-dark);
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    margin-left: 20px;
}

.navbar-menu-top__container {
    display: flex;
}

.navbar-menu-top__container svg {
    margin-right: 25px;
    cursor: pointer;
}

.navbar-menu__container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-blue-light);
    padding: 8px;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 45px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 15px var(--color-boxshadow);
}

.navbar-menu-links__container p:hover {
    background-color: var(--color-blue-medium);
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@media screen and (min-width: 500px) and (max-width: 749px){

    .navbar-links__container {
        display: none;
    }

}

@media screen and (min-width: 750px) and (max-width: 1049px){

    .navbar-logo__container {
        padding: 0 0 0 50px;
    }

    .navbar-links__container {
        display: none;
    }

}

@media screen and (min-width: 1050px) {

    .navbar-logo__container {
        padding: 0 0 0 50px;
    }

    .navbar-links__container {
        display: flex;
        flex-direction: row;
    }

    .navbar-menu-top__container {
        display: none;
        position: relative;
    }

}