#ducklist {
    position: relative;
    padding: 50px 0 50px 0;
    margin-top: -30px;
}

.ducktales--img img {
    width: 150px;
}

.duck__container {
    width: 80vw;
    margin: 0 auto;
    max-width: 300px;
}

.duck-btn__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
}

.duck-btn {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin: 0 0.5rem;
    transition: 500ms;
    cursor: pointer;
    padding: 0.25rem 0;
    line-height: 1;
    color: #0e89a4;
}
.duck-btn:hover {
    color: cadetblue;
    box-shadow: 0 2px powderblue;
}
.active-btn {
    color: #0a6275;
    box-shadow: 0 2px cadetblue;
}

.duck-info {
    margin-bottom: 50px;
}

.duck-info h3 {
    font-weight: 400;
}
.duck-info h4 {
    text-transform: uppercase;
    color: cadetblue;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    border-radius: 20px;
}

.duck__container2 {
    margin-top: 20px;
}

.duck-desc {
    display: flex;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    align-items: center;
    margin-bottom: 20px;
}

.duck-icon {
    color: darkslategrey;
}

@media screen and (min-width: 1050px) {

    .duck-info__container {
        display: flex;
        flex-direction: row;
    }

    .duck__container1 {
        margin-right: 100px;
    }

    .duck__container2 {
        margin-top: 50px;
    }
}