#ducklist {
    position: relative;
    padding: 50px 0 50px 0;
    margin-top: -30px;
}

.ducktales--img img {
    width: 150px;
}

.ducklist-top__container {
    margin-bottom: -20px;
}

.duck__container {
    width: 80%;
    margin: 0 auto;
    max-width: 300px;
}

.duck-btn__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
}

.duck-btn {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 5px;
    transition: 500ms;
    cursor: pointer;
    padding: 5px 0;
    line-height: 1;
    color: var(--color-blue-dark);
}
.duck-btn:hover {
    color: var(--color-blue-green);
    box-shadow: 0 2px var(--color-blue-medium);
}
.active-btn {
    color: var(--color-blue-darker);
    box-shadow: 0 2px var(--color-blue-green);
}

.duck-info {
    margin-bottom: 50px;
}

.duck-info h3 {
    font-weight: 400;
}
.duck-info h4 {
    text-transform: uppercase;
    color: var(--color-blue-green);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
}

.duck__container2 {
    margin-top: 20px;
}

.duck-desc {
    display: flex;
    grid-template-columns: auto 1fr;
    column-gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.duck-icon {
    color: var(--color-blue-green-dark);
}

@media screen and (min-width: 1050px) {

    .duck-info__container {
        display: flex;
        flex-direction: row;
    }

    .duck__container1 {
        margin-right: 100px;
    }

    .duck__container2 {
        margin-top: 50px;
    }
}