.tours__main__container {
    width: 90vw;
    max-width: 520px;
    margin: 5rem auto;
}
.loading {
    text-align: center;
}

.single-tour {
    min-width: 300px;
    min-height: 600px;
    background: white;
    border-radius: 0.25rem;
    margin: 2rem 0;
    padding-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
    position: relative;
}
.single-tour:hover {
    box-shadow: 0 5px 15px var(--color-text);
}
.single-tour img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}
.tour-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.tour-info h4 {
    margin-bottom: 0;
}

.tour-price {
    color: var(--color-blue);
    background: var(--color-headline);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}
.single-tour footer {
    padding: 1.5rem 2rem;
}

.read-more {
margin-bottom: 20px;
}

@media screen and (min-width: 750px) and (max-width: 1050px) {
    .tour-container {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        margin-left: -15px;
    }

    .single-tour {
        min-width: 280px;
    }
}

@media screen and (min-width: 1050px) and (max-width: 1400px) {
    .tour-container {
        flex: 1;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem;
        margin-left: -5px;
    }

    .single-tour {
        min-width: 300px;
    }

}

@media screen and (min-width: 1400px) {

    .tour-container {
        flex: 1;
        display:grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2rem;
        margin-left: -5px;
    }

    .single-tour {
        min-width: 250px;
    }

}
