
/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
    4. Media Queries
////////////////////////*/

/*------------ 3 Layout -------------*/

.footer {
    position: relative;
    left: 0;
    bottom: 0;
}

.footer h1 {
    font-size: 15px;
    background-color: var(--color-footer);
    color: var(--color-blog);
    text-align: center;
    padding: 10px;
}
