@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, white 5.84%, #81AFDD 92.67%);
  --gradient-bar: linear-gradient(103.22deg, #024ec9 -13.86%, #042c54 99.55%);

  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-blue: #024ec9;
  --color-headline: white;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;

}
