@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #b9edf9 10%, #0a6275 92.67%);
  --gradient-bar: linear-gradient(3.22deg, #ffffff -23%, #b9edf9 39%);

  --color-background: #ffffff;
  --color-boxshadow: grey;

  --color-blue-light: #e8f9fd;
  --color-blue-medium: #b9edf9;
  --color-blue-dark: #12b0d3;
  --color-blue-darker: #0a6275;
  --color-blue-darkest: #063b46;

  --color-text: #0a6275;
  --color-header-text: #12b0d3;

}
